*.4ct
*.4tc
*.aux
*.auxlock
*.bbl
*.blg
*.brf
%*.cut
*.dpth
*.djs
*.dvi
*.eps
*.fdf
*.gz
*.idv
*.idx
*.ilg
*.ind
*.jax
*.lg
*.log
*.md5
*.nb
*.oc
*.out
*.pdf
*.ps
%*.qsl
*.sage-chat
*.synctex.gz
*.tmp
*.toc
*.xref
*.ids
*.sage*
Config.sty
